Package: com.ducksrepo.respringtest
Name: Respringtest
Depends: mobilesubstrate, preferenceloader
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome Cydia Substrate tweak.
Maintainer: Turnt Ducky
Author: Turnt Ducky
Section: Tweaks
Homepage: http://iperis.net
Sponsor: iPeris.net <http://iperis.net>

