Package: com.ducksrepo.testtweak
Name: TestTweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: A simple test tweak!
Maintainer: Turnt Ducky
Author: Turnt Ducky
Section: Tweaks
