<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Get a popup when your device does a successful respring.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ducksrepo.respringtest</string>
			<key>key</key>
			<string>popup</string>
			<key>label</key>
			<string>Enable popup</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Have full status bar time.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ducksrepo.respringtest</string>
			<key>key</key>
			<string>FullStatusTime</string>
			<key>label</key>
			<string>Enable FullStatusTime</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Dark keyboard system wide (Not working yet).</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ducksrepo.respringtest</string>
			<key>key</key>
			<string>darkkeyboard</string>
			<key>label</key>
			<string>Enable Dark keyboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Have infinate zoom in the photos app.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ducksrepo.respringtest</string>
			<key>key</key>
			<string>infinate</string>
			<key>label</key>
			<string>Enable infinate zoom</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Hide app update history in the App Store update tab.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ducksrepo.respringtest</string>
			<key>key</key>
			<string>nostoreupdates</string>
			<key>label</key>
			<string>Disable store updates</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Disable ugly cydia ads.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ducksrepo.respringtest</string>
			<key>key</key>
			<string>nocydiaads</string>
			<key>label</key>
			<string>Disable cydia ads</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Disable the dictation key on the keyboards.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ducksrepo.respringtest</string>
			<key>key</key>
			<string>dictation</string>
			<key>label</key>
			<string>Disables dictation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTextCell</string>
			<key>label</key>
			<string>Made by Turnt Ducky.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTextCell</string>
			<key>label</key>
			<string>Version 1.0.12</string>
		</dict>
		<dict>
      <key>cell</key>
      <string>PSGroupCell</string>
      <key>footerText</key>
      <string>Resprings your device</string>
    </dict>
    <dict>
    	<key>cell</key>
    	<string>PSButtonCell</string>
    	<key>action</key>
    	<string>respring</string>
    	<key>label</key>
  		<string>Respring</string>
    </dict>
	</array>
	<key>title</key>
	<string>Duck's Test</string>
</dict>
</plist>
